<h3 class="h5">Sticker ID # <%= data.id %></h3>

<div class="checkbox__container">
    <input type="checkbox" name="found-swap" class="found-swap checkbox checked-icon"
        <%= data.found ? 'checked="checked"' : '' %> />
    <label for="found-swap" class="found-swap checkbox__label">Found Swap</label>
</div>

<div class="checkbox__container">
    <input type="checkbox" name="swapped" class="swapped checkbox checked-icon"
        <%= data.swapped ? 'checked="checked"' : '' %> />
    <label for="swapped" class="swapped checkbox__label">Swapped</label>
</div>

<div class="swapped-with">
    <label for="swapped-with__label">Swapped With</label>
    <input type="text" name="swapped-with" class="swapped-with__input" placeholder="Name or @Username" maxlength="32" value="<%= data.swappedWith %>" />
    <button type="submit" class="submit">OK</button>
</div>
