<h3 class="h5">Sticker ID: <%= data.id %></h3>
<div class="checkbox__container">
    <input type="checkbox" id="found-swap" class="checkbox checked-icon"
        <%= data.found ? 'checked="checked"' : '' %> />
    <label for="found-swap" class="checkbox__label">Found Swap</label>
</div>
<div class="checkbox__container">
    <input type="checkbox" id="swapped" class="checkbox checked-icon"
        <%= data.swapped ? 'checked="checked"' : '' %> />
    <label for="swapped" class="checkbox__label">Swapped</label>
</div>
