<div class="sticker">
    <h3 class="h4 sticker__heading">Sticker # <%= data.id %></h3>

    <div class="checkbox__container">
        <input type="checkbox" name="found-swap" class="found-swap checkbox checked-icon"
            <%= data.found ? 'checked="checked"' : '' %> />
        <label for="found-swap" class="found-swap checkbox__label">Found Swap</label>
    </div>

    <div class="checkbox__container">
        <input type="checkbox" name="swapped" class="swapped checkbox checked-icon"
            <%= data.swapped ? 'checked="checked"' : '' %> />
        <label for="swapped" class="swapped checkbox__label">Swapped</label>
    </div>

    <div class="input-group swapped-with">
        <input type="text" name="swapped-with" class="form-control swapped-with__input"
                placeholder="Swapped With..." maxlength="32" value="<%= data.swappedWith %>" />
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default submit">OK</button>
        </span>
    </div>
</div>
