<h2 class="header__text">Spares List</h2>

<button type="button" class="btn btn-primary add">
    <i class="glyphicon glyphicon-plus icon" aria-hidden="true"></i>
    Add Stickers
</button>
<button type="button" class="btn btn-primary hide-ui">Hide</button>

<form name="add-spare-stickers" class="add-spare-stickers">
    <textarea name="spare-stickers" rows="10" class="stickers__input" placeholder="Enter sticker ID (comma separated for multiple sticker IDs, e.g. '1, 2, 3')"></textarea>
    <fieldset>
        <button type="reset" class="btn btn-default clear">Clear</button>
        <button type="submit" class="btn btn-default submit">Submit</button>
    </fieldset>
</form>

<ul id="spares-list" class="stickers__list stickers__list--spares list-unstyled"></ul>
