<h2>Spares List</h2>

<form name="add-spare-stickers" id="add-spare-stickers">
    <textarea name="spare-stickers" rows="10" cols="40" class="stickers__input" placeholder="Enter sticker ID (comma separated for multiple sticker IDs e.g. '1, 2, 3')">
    </textarea>
    <fieldset>
        <button type="reset" class="clear">Clear</button>
        <button type="submit" class="submit">Submit</button>
    </fieldset>
</form>

<ul id="spares-list" class="stickers__list stickers__list--spares list-unstyled"></ul>