$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


// Space out content a bit & set background colour
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #4ea652;
}


// Everything gets side spacing for mobile first views
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


// Custom page header
.header {
    border-bottom: 1px solid #e5e5e5;
}

// Make the masthead heading the same height as the navigation
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}


// Custom page footer
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}


.header__text {
  color: #f9f9f9;
}


.checkbox {
    display: inline-block;
}

.checkbox__label {
    font-weight: normal;
}


.btn .icon {
    font-size: 2rem;
    font-weight: bold;
    top: 0;
}


.add-stickers-needed,
.add-spare-stickers,
.hide-ui {
    display: none;
}


.stickers__list {
    margin-top: 25px;
}

.stickers__list-item {
    margin: 15px 0px;
    border: 5px solid #fff;
    background: #fff;
}

.sticker {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 15px 15px;
    background: #c8d8e3;
}


.sticker__heading {
    text-transform: uppercase;
    color: #b60649;
}


// Responsive: Portrait tablets and up
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    // Remove the padding we set earlier
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    // Space out the masthead
    .header {
        margin-bottom: 30px;
    }
}
